.about {
    padding-bottom: 0;
}

.about__list {
    // display: flex;
    // justify-content: space-between;
}

.about__item {
    margin-bottom: 30px;
    max-width: 450px;

    &:last-child {
        margin-bottom: 60px;
    }

    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 90px) / 4);
    }
}

.about__item-wrapper {
    display: flex;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    background-color: #F5F4FA;
}

.about__feature {
    margin-bottom: 10px;

    color: var(--title-features-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
}

.about__info {
    line-height: 1.7;
}