.mobile-menu-container {
    margin-left: auto;
    margin-right: 15px;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;
    padding: 48px 40px;

    background-color: #ffffff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--menu-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mobile-close {
    fill: currentColor;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-link {
    display: block;
    padding: 16px;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: var(--menu-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.current {
    color: var(--accent-color);
}

.mobile-contacts {
    margin-top: 302px;
}

.mobile-phone {
    display: block;
    margin-bottom: 32px;
    
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    
    color: var(--accent-color);
    
    @media screen and (max-width: 320px) {
        width: 250px;
        font-size: 28px;
    }
}

.mobile-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.mobile-socials {
    display: flex;
    width: 240px;
    margin-top: 64px;
    align-items: center;
    justify-content: flex-start;
    margin-right: 83px;

    @media screen and (max-width: 320px) {
        flex-wrap: wrap;
    }
}

.mobile-socials-item {
    @media screen and (max-width: 320px) {
        padding: 5px 0;
    }
}

.socials-line {
    width: 0;
    height: 22px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.socials-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}