:root {
    // colors
    --primary-backgroung-color: #FFFFFF;
    --primary-text-color: #757575;
    --secondary-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --logo-light: #ffffff;
    --logo-dark: #000000;
    --title-features-color: #212121;
    --hero-background-color: #2F303A;
    --hero-text-color: #FFFFFF;
    --footer-color: #2F303A;
    --footer-text-color: #FFFFFF;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --button-text-accent-color: #FFFFFF;

    // fonts
    --pages-main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --page-links-font: 'Roboto', sans-serif;
}